@model TiendaOnline.Models.ViewModels.ProductoVM;
@{
   var titulo = "Crear Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Upsert" method="post" enctype="multipart/form-data">
    @if(Model.Producto.Id != 0 || Model.Producto.Id != null)
    {
        titulo = "Editar Producto";
        <input asp-for="Producto.Id" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.NombreProducto" class="form-label">Nombre Producto</label>
                            <input asp-for="Producto.NombreProducto" class="form-control" />
                            <span asp-validation-for="Producto.NombreProducto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.Precio" class="form-label">Precio</label>
                            <input asp-for="Producto.Precio" class="form-control" />
                            <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.DescripcionCorta" class="form-label">DescripcionCorta</label>
                            <input asp-for="Producto.DescripcionCorta" class="form-control" />
                            <span asp-validation-for="Producto.DescripcionCorta" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.DescripcionLarga" class="form-label">Descripcion Producto</label>
                            <textarea asp-for="Producto.DescripcionLarga" class="form-control summernote"></textarea>
                            <span asp-validation-for="Producto.DescripcionLarga" class="text-danger"></span>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.ImageUrl" class="form-label">Imagen</label>
                            <input type="file" name="files" id="imagenId" class="form-control" />                            
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.CategoriaId" class="form-label">Categoria</label>
                            <select asp-for="Producto.CategoriaId" asp-items="Model.CategoriaLista" class="form-select"  >
                                <option disabled selected>--Seleccione categoria</option>
                            </select>                        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Producto.TipoAplicacionId" class="form-label">Tipo Aplicación</label>
                            <select asp-for="Producto.TipoAplicacionId" asp-items="Model.TipoAplicacionLista" class="form-select"  >
                                <option disabled selected>--Seleccione Tipo</option>
                            </select>                        
                        </div>
                    </div>

                    <br/>

                    <div class="d-grid gap-2 d-md-block">
                       
                        @if(Model.Producto.Id != 0)
                        {
                            <button type="submit" onclick="return validarImagen()" class="btn btn-primary">Actualizar</button>
                        }
                        else
                        {
                             <button type="submit" onclick="retur validarImagen()" class="btn btn-primary">Crear</button>
                        }
                        <a asp-controller="Producto" asp-action="Index" class="btn btn-success">Regresar</a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts {
   @{<partial name="_ValidationScriptsPartial" />}
   
   <script>
        
        //EJECUTAR SUMMERNOTE PARA LA DESCRIPCION LARGA       
       
        $(function(){
            console.log("probando")
            $(".summernote").summernote({height:255})
        })

        //VALIDAR QUE SE CARGUE UN ARCHIVO DE IMAGEN
        function validarImagen(){
            if(document.getElementById("imagenId").value == ""){
                swal("Error", "Debe cargar una imagen", "error");
                return false;
            }
            else
            {
                return true;
            }
           
        }
   </script>
}