@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TiendaOnline.Models.TipoAplicacion;
@{
    ViewData["Tile"] = "Crear Tipo Aplicación";
}



<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">
                Crear Tipo Aplicación
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
           
            <br/>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-controller="Categoria" asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial"/> }
}